.modal {
 position: fixed;
 top: 0; left: 0; right:0; bottom:0;
 background: rgba(0, 0, 0, 0.65);
 display: none;
 justify-content: center;
 align-items: center;
 padding: 1rem;
 z-index: 100;
}


.modal-open {
 display: flex;
}


.modal-content {
 background: #fcf5e5;
 padding: 2rem;
 border-radius: 8px;
 max-width: 400px;
 width: 100%;
 position: relative;
}


.modal-close {
 position: absolute;
 top: 8px;
 right: 10px;
 padding: 0 10px;
 background: transparent;
 border: none;
 font-size: 2.5rem;
 cursor: pointer;
 border-radius: 50%;
}
.modal-close:hover {
 background-color: #00000029;
 transition: all 0.3s ease-in-out;
}


.modal-content form label {
 display: block;
 margin-bottom: 1rem;
}


.modal-content input {
 width: 100%;
 padding: 0.5rem;
 margin-top: 0.25rem;
 border: 1px solid #ccc;
 border-radius: 4px;
}


.preview-img {
 width: 100%;
 height: auto;
 max-height: 60vh;
 object-fit: contain;
}
.preview-title {
 text-align: center;
 margin-top: 0.5rem;
 font-size: 1.1rem;
}


.upload-img {
 background-color: #fff;
}